body{background-color: black;
}

h1{ font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: chocolate;
    text-align: center;
    position: relative;
}

p{  font-family: Arial, Helvetica, sans-serif;
    font-size: 12px ;
    color: bisque;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.photos{    display:flex;
            align-items: center;
            max-width: 100%;
            justify-content:center;
            margin:0 auto;
            padding: 0px;
            border-radius: 10px;
}

.voitures{  max-width: 100%;
            width: 48%;
            height: auto;
            margin: 5px;
}

.chouette{  max-width: 100%;
            width: 48%;
            height: auto;
            margin: 5px;
}

.lien{      color: red;
            font-size: 24px;
            text-align: center;
            text-decoration: underline red;
}

.photos2{   display:flex;
            align-items: center;
            max-width: 100%;
            justify-content:center;
            margin:0 auto;
            padding: 0px;
            border-radius: 10px;
}

.palais{    max-width: 100%;
            width:48%;
            height: auto;
            margin: 5px;
}

.woman{     max-width: 100%;
            width: 48%;
            height: auto;
            margin: 5px;
}

